# dependencies
/node_modules

# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log

# example
/quick-start

# tests
/test
/coverage
/.nyc_output

# dist
/dist

.env
.docker/mongo-data
.yarn-error.log

ormconfig.json
.docker/mysql-data
